.nav a:hover {
  background-color: #c5cbd1;
  border-radius: 3px;
  color: black;
}

/* a.active is anchor tag a & active : class added to it */
.nav a.active {
  background-color: white;
  color: black;
  border-radius: 3px;
  font-weight: bold;
}

a.inactive {
  color: white;
}

.header-area {
  background-color: #0E402D;
}
